---
title: '2021 Yearly Log: MAF Test Results'
date: 2021-12-31
permalink: /posts/2021/12/maf-test-results/
tags:
  - Running Log
  - Yearly Log
---

# Intro: 07 March 2021
In an effort to reduce the chance of future injury, avoid burnout, and improve my aerobic base, I'm setting a big goal for the year to focus on low heart rate training. I've brought this up a few times before and I'm committing to taking the time and seeing what kind of improvements I can get. I'll be using a target heart rate of 155 and doing a monthly 3-mile baseline test. This will be a  Updates to follow!

| Date  | Conditions  | Mile 1  | Mile 2  | Mile 3  | Total running time  | Reflection |
|---    |---          |---      |---      |---      |---                  |---         |
| Sunday, 07 March 2021  | Left house at 7:10 am. Walked about 1.2 miles to Norwood track. No headphones, it was a quiet morning and a lovely 50 degrees outside at the start.  | 14:11 | 15:20  | 15:38  | 45:08  | Feeling good after this run! It is so much easier to keep consistent on the track. Started off needing to walk about once per lap, which fell apart around mile 3. Overall feeling really pleased after today's run since I got some meditative time in and could just enjoy being outside. |
| Sunday, 04 April 2021  | Left house at 7:00 am. Walked to Norwood track. It was quiet with no headphones and started out around 50 degrees. Ate a caffeine Huma gel before warmup | 14:37 | 15:17 | 15:26 | 45:20 | Overall time was slower but I feel like this is progress! The times for miles 2 and 3 are much more consistent and cardiac drift seemed to be less. I was also able to go for 1.5 laps at some points today without walking. Happy with this performance given it has been a stupidly stressful month, I am on my period, and I went for a hard hike yesterday that went out of my HR zones. |
|       |             |         |         |         |                     |            |        